<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="MainSuite" verbose="1" >

    <!--WEB-INF path-->
    <parameter name="WEB-INF-path-fixture" value="samplewefproject/WebContent/WEB-INF"/>
    <!--Project Name-->
    <parameter name="wef-project-name" value="samplewefproject"/>
    <parameter name="document-root-linux" value="/home/user/samplewefproject.ear/samplewefproject.war"/>
    <parameter name="document-root-win" value="c:\projects\samplewefproject.ear\samplewefproject.war"/>
    <parameter name="logging-base-dir-name" value="wefunitlogs"/>
    <parameter name="logging-reporting-dir-name" value="testreports"/>
    <!--Configuration file name-->
    <parameter name="config-file-name" value="wefunit.xml"/>

    <!--<test name="ExecuteAll" >-->
        <!--<packages>-->
            <!--<package name=".*"></package>-->
        <!--</packages>-->
    <!--</test>-->

    <test name="T1">
        <classes>
            <class name="com.rc.wefunit.testengine.TestEngineTest"/>
            <!--<class name="com.rc.wefunit.DependencySignatureTest"/>-->
        </classes>
    </test>
</suite>